.answer-box- {
    &show {
        display: flex;
        height: auto;
        max-height: 5000px;
        transition: max-height .15s ease-in; /* https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css?page=2&tab=votes#tab-top */
    }
    
    &hidden {
        display: none;
        overflow: hidden;
        height: 0px;
        max-height: 0px;
        transition: max-height 1.5s ease-out;
    }
}

.faq-toggle-view-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.faq-toggle-view-more:hover {
    cursor: pointer;
}
