.date-format {
    color: white;
    margin-bottom: 0px;
    z-index: 2;
}

.img-fit {
    width: 100%;
}

.description-details img {
    max-width: 670px;
}

.news-article-tags {
    cursor: pointer;
}
