.news-title {
  line-height: 0px;
  min-height: 130px;
}

.blog-post {
  margin: 15px 0px;

  a {
    position: relative;
    z-index: 1;
  }
}

#news-article-list-items {
  justify-content: center;
}
