.widget_recent_comments {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

#leave-a-comment {
  margin-top: 50px;
  text-align: left;
}

#comment-name {
  margin-bottom: 5px;
  padding-left: 5px;
  border: .07em solid black;
}

#comment-content {
  @include media(">=large") {
    resize: both;
  }
  @include media("<large") {
    resize: none;
  }
  
  padding-left: 5px;
  border: .07em solid black;
  width: 100%;
}

#topComment {
  display: block;
  position: relative;
  top: -103px; /* Size of header */
  visibility: hidden;
}

.recentcomments {
  list-style: none;
  margin-top: 20px;

  p {
    font-weight: bold;
  }

  i {
    color: $colour-primary;
  }

  span {
    font-style: italic;
  }

  div {
    overflow-wrap: break-word;
    word-break: break-all;
  }
}

.comment-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
