#day-heading {
    font-size:102.5%;
}

.schedule-details.hidden {
    display: none;
}

.schedule-details.visible {
    display: inherit;
}

#schedule-header {
    color: #ff6600;
    font-style: italic;
    font-weight: 400;
}
