#title-override {
  color: $colour-background;
}

#speaker-list-items {
  justify-content: center;
}

#speaker-image {
  justify-content: center;
  display: flex;
}

#speaker-list-description {
  color: $colour-background-darker;
}
