// Breakpoints
$breakpoints : (
        small: 320px,
        medium: 768px,
        large: 1024px
);

$colour-primary: #ff6600; // ff6600, ff2626
$colour-secondary: #081d31;

$colour-foreground: #131313; // 131313
$colour-foreground-lighter: lighten($colour-foreground, 5%);
$colour-foreground-darker: darken($colour-foreground, 5%);

$colour-background: #e4e4e4; // e4e4e4
$colour-background-lighter: lighten($colour-background, 5%);
$colour-background-darker: darken($colour-background, 5%);
