.bannerText {
  text-transform: uppercase;
  font-size: 4.625rem;
  font-weight: 400;
  text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
  font-style: italic;

  margin: 0 auto;
  margin-top: 50px;
  display: inline-block;
  text-align: left;

  @include media("<medium") {
    padding-left: 25px;
  }

  @include media("<large") {
    padding-left: 25px;
  }
}

.info {
  display: inline-flex;
}

.banner-btn {
  margin-top: -65px;
  position: relative;
}

.info > .left {
  color: white;
  overflow: inherit;
}

.info > .right {
  padding-left: 5px;
  color: white;
  overflow: inherit;
}

.bannerTitle > h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colour-primary;

  @include media("<medium") {
    font-size: 2.5rem;
  }
}
.bannerTitle > h2 {
  color: #fff;
}

.bannerTitle > h1,
h2 {
  font-size: 4.625rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  right: 10px;
}

.bannerTitle {
  margin-bottom: -65px;
}

#banner-countdown {
  color: $colour-background-darker;
  font-weight: 100;

  @include media("<medium") {
    font-size: 13px;
  }
}
