.gallery-description {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#gallery-displayer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
