.macro-inline {
    margin-left:20px;
}

.macro-list {
    border: 1px solid white;
    padding: 10px;
    margin-top:5px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.macro-list-icon {
    color: white;
}
