<div 
	class="row background-images layout-image"
	data-th-classappend="|${haveFullSpace ? 'xp-layout-full-space' : 'xp-layout'} ${fixedBackground ? 'layout-1-col-fixed' : ''}|"
	data-th-style="${backgroundImage} ? 'background-image:url(' + ${portal.imageUrl({'_id=' + backgroundImage, '_scale=max(1280)', '_format=jpeg'})} + ');' :	''"
>
	<div data-th-class="${leftConfig}" data-portal-region="left" class="xp-region col-sm-6">
		<div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
			<div data-portal-component="${component.path}" data-th-remove="tag" />
		</div>
	</div>

	<div data-th-class="${rightConfig}" data-portal-region="right" class="xp-region col-sm-6" >
		<div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
			<div data-portal-component="${component.path}" data-th-remove="tag" />
		</div>
	</div>
</div>
